* {
    /* sets a default font and font-family for everything on the page */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
}
body{
    background-image: url("whiteWoodDesk.jpg");
}

main{


    /* added background so it seems like a desk */
    display: flex;
    flex-direction: column;
    /* flex-wrap allows the  form to have its own space at the top */
    /* flex-wrap: wrap;  */
}
#newBookForm{
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    text-align: center;
}
.commentSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.bookCard{
    /* A bookCard represents each book */
    margin: auto;
    display: flex;
    justify-content: center;

    /* text-align centers words to the center of the book */
    text-align:center;
    height: 550px;
    width: 300px;
    border: 3px solid black;
    padding: 50px;
    margin-top: 20px;
}
.bookText{
    margin-top: 20px;
}

#bookSection{
    /* This book section is a div that houses all the displayed books */
    display: flex;
    flex-direction: column;
    font-size: 15px;

}
.classRemaining{
    /* for some reason, the text is never aligned!!!!!! */
    text-align: right;
}